<%- include('layout/head.ejs',{title:productSingle.name}) %>
<%- include('layout/header.ejs') %>
<%- include('layout/menu.ejs') %>
<!-- page-header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-breadcrumb">
          <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li>Chi tiết sản phẩm</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page-header-->
<!-- product-single -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
          <!-- product-description -->
          <div class="box-body">
            <div class="row">

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img src="/public/images/<%=productSingle.thumbnail%>" style="width: 1000px;" alt="">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="product-single">
                  <h2><%= productSingle.name %></h2>
                  <p class="product-price" style="font-size: 25px;"><%= (productSingle.price).toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); %>
                  </p>
                  <ul>
                    <li>Bảo hành: <b><%= productSingle.warranty %></b></li>
                    <li>Đi kèm: <b><%= productSingle.accessories %></b></li>
                    <li>Tình trạng: <b><%= productSingle.status %></b></li>
                    <li>Khuyến mại: <b><%= productSingle.promotion %></b></li>
                    <li class="text-<%=productSingle.is_stock?'success':'danger' %>"><b><%= productSingle.is_stock?'Còn hàng':'Hết hàng' %></b></li>
                  </ul>
                  <div>
                    <%if(productSingle.is_stock){ %>
                    <form action="/add-to-cart" method="post">
                      <input type="hidden" name="id" value="<%= productSingle._id %>">
                      <div class="form-row align-items-center">
                        <div class="col-sm-3 my-1">
                          <div class="input-group">
                            <input type="number" class="form-control" min="1" value="1" name="qty" id="quantity" placeholder="Số lượng">
                          </div>
                        </div>
                        <div class="col-auto my-1">
                          <button type="submit" class="btn btn-default"><i class="fa fa-shopping-cart"></i>&nbsp;Thêm vào giỏ hàng</button>
                          </button>
                        </div>
                      </div>
                    </form>
                    <% }else{%>
                    <h1><b>
                        <p>Sản phẩm hiện đang hết hàng</p>
                      </b></h1>

                    <% } %>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box-head scroll-nav">
        <div class="head-title">
          <a class="page-scroll active" href="#product">Mô tả sản phẩm: <%= productSingle.name %></a>
          <a class="page-scroll" href="#rating">Đánh giá và nhận xét</a>
          <a class="page-scroll" href="#review">Thêm nhận xét</a>
        </div>
      </div>
    </div>
  </div>
  <!-- highlights -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="description-details">
        <div class="description-left">
          <h2 class="dgctpro">Đặc điểm nổi bật</h2>
          <div itemprop="description" class="content_hide content-desc" style="height: 1180px;">
            <%- productSingle.description %>
          </div>
          <button class="less-evaluation text-center" style="display:none"><i class="fa fa-minus-circle"></i> Rút gọn</button>
          <button class="more-evaluation text-center"><i class="fa fa-plus-circle"></i> Xem
            thêm</button>
        </div>
      </div>
    </div>

  </div>
  <!-- rating reviews  -->
  <div id="rating">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="box container-rating-review">
          <div class="box-head">
            <h3 class="head-title">Đánh giá và nhận xét <%= productSingle.name %></h3>
          </div>
          <div class="box-body">
            <div class="row review-box">
              <% for(item of comments){ %>
              <div class="customer-reviews">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                  <p class="reviews-text"><span class="text-default"><b><%= item.fullname %></b></span> </p>
                  <p><%= moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss') %></p>
                  <p><%= item.body %> </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="divider-line"></div>
                </div>
              </div>
              <% } %>
              <a name="" id="" class="btn btn-primary" href="/productsingle-<%= productSingle.slug %>.<%= productSingle._id %>/danhgia" role="button">Xem đánh giá</a>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div id="review">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="box">
            <div class="box-head">
              <h3 class="head-title">Đánh giá và nhận xét của bạn</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="review-form">

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 review-left">
                    <div class="review-rating">
                      <h4>Đánh giá của bạn về sản phẩm này</h4><br />

                    </div>
                  </div>
                  <form method="post" class="review-right">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label class="control-label sr-only " for="fullname"></label>
                        <input id="fullname" name="fullname" type="text" class="form-control" placeholder="Họ tên" required="">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label class="control-label sr-only " for="email"></label>
                        <input id="email" name="email" type="text" class="form-control" placeholder="Email" required="">
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label class="control-label sr-only " for="body"></label>
                        <textarea class="form-control" id="body" name="body" rows="4" placeholder="Mời bạn nhập bình luận"></textarea>
                      </div>
                      <% if(!accountCustomer){ %>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelId">
                        Gửi
                        đánh giá
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Thông báo</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Bạn chưa đăng nhập
                            </div>
                            <div class="modal-footer">
                              <a name="" id="" class="btn btn-primary" href="/login" role="button">Đăng nhập ngay</a>
                              <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Close</button>

                            </div>
                          </div>
                        </div>
                      </div>
                      <% }else{ %>
                      <button type="submit" id="submit" name="singlebutton" class="btn btn-primary">Gửi
                        đánh giá</button>
                      <% } %>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.reviews-form -->

  </div>


</div>
<!-- /.product-description -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box-head">
        <h3 class="head-title">Sản phẩm liên quan</h3>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box-body">
      <div class="row">
        <!-- product -->
        <% for(item of listProductRelated){ %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb30">
          <div class="product-block">
            <div class="product-img"><a href="/productsingle-<%= item.slug %>.<%= item._id %>"><img src="/public/images/<%= item.thumbnail %>" style="width: 1000px;" alt=""></a></div>
            <div class="product-content">
              <h5><a href="/productsingle-<%= item.slug %>.<%= item._id %>" class="product-title"><%= item.name %> </a></h5>
              <div class="product-meta"><a href="/productsingle-<%= item.slug %>.<%= item._id %>" class="product-price"><%= (item.price).toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); %></a>
              </div>
              <div class="shopping-btn">
                <a href="/productsingle-<%= item.slug %>.<%= item._id %>" class="btn btn-cart btn-block btn-xs">Mua</a>
              </div>
            </div>
          </div>
        </div>
        <%} %>
        <!-- /.product -->
      </div>
    </div>
  </div>
</div>
<!-- /.product-single -->
</div>
<%- include('layout/footer.ejs') %>